@media (max-width: 1025px) {
    .search-section {
      flex-direction: column;
      align-items: center;
    }
  
    .filters-search {
      margin-top: 16px; /* Puedes ajustar el valor según sea necesario */
    }
}

@media (max-width: 485px) {
    .filters-search {
      flex-direction: column;
      align-items: center;
    }
  
    .filter-type-order {
      margin-bottom: 16px; /* Puedes ajustar el valor según sea necesario */
    }
  
    .btn-search {
      margin-top: 16px; /* Puedes ajustar el valor según sea necesario */
    }
  }

